
.header {
  background-color: #168CC3;
  height: 60px;
  margin-top: -0.5%
}

.container_search{
    width: 20%;
    margin-left: 15%;
    margin-top: 0.8%;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: aliceblue;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}


  .sort{
    width: 20%;
    padding: 5px 10px;
    margin-left: 50%;
    margin-top: -2%;
    box-sizing: border-box;
    background-color: aliceblue;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }